gulpfile.js
Makefile.js
test/**/*.js
**/node_modules
webpack.config.js
custom-scripts/*.js
custom-scripts/**/*.js
cartridges/modules/**/*.js
cartridges/app_mns/**/*.js
cartridges/app_test/**/*.js
cartridges/sgs2_mns/**/*.js
cartridges/int_klarna/**/*.js
cartridges/app_mns_EU/**/*.js
cartridges/bm_utility/**/*.js
cartridges/holdingpage/**/*.js
cartridges/app_mns_en_IE/**/*.js
cartridges/app_mns_tablet/**/*.js
cartridges/app_custom_jobs/**/*.js
cartridges/int_custom_sfmc/**/*.js
cartridges/int_trustedshops/**/*.js
cartridges/int_globale_sfra/**/*.js
cartridges/order_anonymiser/**/*.js
cartridges/app_storefront_base/**/*.js
cartridges/app_storefront_core/**/*.js
cartridges/app_storefront_richUI/**/*.js
cartridges/bc_integrationframework/**/*.js
cartridges/int_bazaarvoice_flagship/**/*.js
cartridges/app_custom_mnssfra/cartridge/static/**/*.js
